.Gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  overflow-y: auto;
  padding: 5px;
}

.GaleryUser {
  width: 100%;
}

.GalleryUserPhoto {
  width: 100%;
  border-radius: 10px;
  max-height: 275px;
  object-fit: cover;
}

.GaleryUserInfo {
  text-align: left;
}

.Gallery::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
}
.Gallery::-webkit-scrollbar-track {
  background: var(--color-main-grey-light); /* цвет дорожки */
}
.Gallery::-webkit-scrollbar-thumb {
  background-color: var(--color-main-grey-dark); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid var(--color-main-grey-light); /* padding вокруг плашки */
}
