.InfoBlock {
  background-color: var(--color-main-grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  overflow: auto;
  box-shadow: inset 0px 0px 0px 1px #d9d9d942;
}

.InfoBlock__title {
  width: 100%;
  text-align: left;
  font-size: 22px;
}

.InfoBlock__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  font-size: 18px;
}

.InfoBlock::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
}
.InfoBlock::-webkit-scrollbar-track {
  background: var(--color-main-grey-light); /* цвет дорожки */
}
.InfoBlock::-webkit-scrollbar-thumb {
  background-color: var(--color-main-grey-dark); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid var(--color-main-grey-light); /* padding вокруг плашки */
}
