.Select {
  color: var(--color-main-grey-dark);
}

.Select__control {
  border: 1px solid var(--color-main-grey-dark);
}

.Select__option {
  color: var(--color-main-grey-dark);
}

.Select__single-value {
  color: var(--color-main-grey-dark);
}