.UserInfoBlock {
  display: flex;
  padding: 1%;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
}

.QuestionIcon {
  position: fixed;
  top: 7px;
  right: 30px;
  cursor: pointer;
}
